<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

  <!-- Page header -->
  <header>
      <div class="text-center">
        <img class="img-fluid" src="../img/countify_login.png" width="400" height="200">
      </div>
  </header>

    <!-- Login card -->
        <div class="card shadow-lg mx-auto" style="width: 25rem;">
          
          <h5 class="mt-4 text-center" style="color: #243665"> Log in </h5>

          <form action="/process_login" method="post" class="form-group">
            
            <!-- Username input -->
            <div class="form-outline col-10 mx-auto m-4">
              <input type="text" id="usernameform" name="username" class="form-control" placeholder="Username" required autocomplete="off" style="border-color:#243665"/>
              <label class="form-label" for="usernameform"></label>
            </div>

            <!-- Password input -->
            <div class="form-outline col-10 mx-auto m-4">
              <input type="password" id="passwordform" name="password" class="form-control" placeholder="Password" required autocomplete="off" style="border-color:#243665; font-family: Verdana;"/>
              <label class="form-label" for="passwordform"></label>
            </div>

            <!-- Submit button -->
            <div class="d-grid col-10 mx-auto m-4">
              <button type="submit" class="btn buttoncss">Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <footer>
      <%- include('../partials/footer'); %>
  </footer>

</body>

</html>


<!-- References Used -->
<!-- https://mdbootstrap.com/docs/standard/extended/login/ -->
<!-- https://getbootstrap.com/docs/5.0/components/buttons/ -->
<!-- https://www.w3schools.com/html/html_colors_hex.asp -->