<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        OVERVIEW TEST TEXT
    </header>
</body>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>