<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="row g-0 flex-nowrap">
        <%- include('../partials/sidebar'); %>

        <!-- Content area begins -->
        <div class="content col">
            <!-- Page header -->
            <h1 class="p-4" style="background-color: #8bd8bd; color:#243665;">
                Reports
            </h1>

            <div class="row justify-content-center m-4">
                <a href="/report/total" class="nav-link countlink px-2 py-4 m-4">
                    <span class="ms-1 d-none d-sm-inline">Total Values</span>
                </a>
                <a href="/report/category" class="nav-link countlink px-2 py-4 m-4">
                    <span class="ms-1 d-none d-sm-inline">Category</span>
                </a>
                <a href="/report/low" class="nav-link countlink px-2 py-4 m-4">
                    <span class="ms-1 d-none d-sm-inline">Low Inventory</span>
                </a>
            </div>
        </div>
        <!-- Content area ends -->
    </div>

</body>

</html>
