<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>
    <div class="row g-0 flex-nowrap">
        <%- include('../../partials/sidebar'); %>

        <!-- Content area begins -->
        <div class="content col">
            <!-- Page header -->
            <h1 class="p-4" style="background-color: #8bd8bd; color:#243665;">
                Total Value Report
            </h1>

            <!-- Inventory table view begins -->
            <% if (locals.data) { %>
                <div class="container-fluid">
                <button onclick="printTable()" class="btn buttoncss px-2 m-4">
                    <i class="fs-4 bi bi-printer"></i>
                    <span class="ms-1 d-none d-sm-inline">Print Report</span>
                </button>
                <p>Report Generated: <span id="reportDate"></span></p>
                <table class="table" id="totalTable">
                    <thead>
                        <tr style="--bs-table-bg: #8bd8bd; --bs-table-color: #243665;">
                            <th scope="col">Location</th>
                            <th scope="col">Total Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.data.forEach(function(data) { %>
                            <tr>
                                <td scope="row"><%= data.tableName.toUpperCase() %></td>
                                <td scope="row">$<%= parseFloat(data.totalValue).toFixed(2).toLocaleString() %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                </div>
            <% } %>
            <!-- Inventory table view ends -->
        </div>
        <!-- Content area ends -->
    </div>

<script>
    function printTable() {
        var printWindow = window.open('', '_blank');
        printWindow.document.write('<html><head><title>Total Value</title></head><body>');
        const currentDateTime = new Date();
        const formattedDateTime = formatDateTime(currentDateTime);
        printWindow.document.write('<p style="text-align: left;">Report Generated: ' + formattedDateTime + '</p>');
        printWindow.document.write(document.getElementById('totalTable').outerHTML);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }

    // Function to format the date and time as "MM/DD/YYYY HH:mm:ss"
    function formatDateTime(date) {
            const options = {
                year: 'numeric', month: '2-digit', day: '2-digit',
                hour: '2-digit', minute: '2-digit', second: '2-digit',
                hour12: true
            };
            return date.toLocaleString('en-US', options);
        }
    
        // Update the report date element with the current date and time
        document.getElementById('reportDate').textContent = formatDateTime(new Date());
</script>

</body>

</html>


<!-- References Used
    https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb
    https://icons.getbootstrap.com/
    https://getbootstrap.com/docs/5.3/content/tables/
-->